.inicioHija h2{
    color: rgb(9, 18, 153);
    background-color: rgb(103, 185, 103);
    text-align: center;
    
}
.contenedor h2{
    color: blueviolet;

}
.inicioPadre h2{
    color: aquamarine;
}
.parrafo p{ 
    color: palevioletred;
}

.padre{
    display: flex;
    flex-direction: row;
}

.card.text{
    color: black;
    font-size: 1rem;
}